
@{
    Layout = null;
}
<link type="text/css" href="~/css/product.css" rel="stylesheet" />
<div class="products clearfix">
    <h3 class="tit">特价单品</h3>
    <ul class="prolist clearfix">
        <li>
            <a href="@Url.Action("Detail", "Products", new { Id=1})">
                <img src="/img/p1.jpg" />
                <p class="proname">香凝工艺 大果紫檀 硕果累累大花架</p>
                <p class="provalue">匠心之作，低价处理</p>
                <p><span class="red">￥<span class="b f18">90.00</span><span class="mprice">￥350</span></span><span class="fr g9 pt5">月销8362笔</span></p>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Detail", "Products", new { Id=2})">
                <img src="/img/p2.jpg" />
                <p class="proname">香凝工艺 大果紫檀 硕果累累大花架</p>
                <p class="provalue">匠心之作，低价处理</p>
                <p><span class="red">￥<span class="b f18">90.00</span><span class="mprice">￥350</span></span><span class="fr g9 pt5">月销8362笔</span></p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/img/p3.jpg" />
                <p class="proname">香凝工艺 大果紫檀 硕果累累大花架</p>
                <p class="provalue">匠心之作，低价处理</p>
                <p><span class="red">￥<span class="b f18">90.00</span><span class="mprice">￥350</span></span><span class="fr g9 pt5">月销8362笔</span></p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/img/p4.jpg" />
                <p class="proname">香凝工艺 大果紫檀 硕果累累大花架</p>
                <p class="provalue">匠心之作，低价处理</p>
                <p><span class="red">￥<span class="b f18">90.00</span><span class="mprice">￥350</span></span><span class="fr g9 pt5">月销8362笔</span></p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/img/p5.jpg" />
                <p class="proname">香凝工艺 大果紫檀 硕果累累大花架</p>
                <p class="provalue">匠心之作，低价处理</p>
                <p><span class="red">￥<span class="b f18">90.00</span><span class="mprice">￥350</span></span><span class="fr g9 pt5">月销8362笔</span></p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/img/p6.jpg" />
                <p class="proname">香凝工艺 大果紫檀 硕果累累大花架</p>
                <p class="provalue">匠心之作，低价处理</p>
                <p><span class="red">￥<span class="b f18">90.00</span><span class="mprice">￥350</span></span><span class="fr g9 pt5">月销8362笔</span></p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/img/p7.jpg" />
                <p class="proname">香凝工艺 大果紫檀 硕果累累大花架</p>
                <p class="provalue">匠心之作，低价处理</p>
                <p><span class="red">￥<span class="b f18">90.00</span><span class="mprice">￥350</span></span><span class="fr g9 pt5">月销8362笔</span></p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/img/p8.jpg" />
                <p class="proname">香凝工艺 大果紫檀 硕果累累大花架</p>
                <p class="provalue">匠心之作，低价处理</p>
                <p><span class="red">￥<span class="b f18">90.00</span><span class="mprice">￥350</span></span><span class="fr g9 pt5">月销8362笔</span></p>
            </a>
        </li>
    </ul>
</div>