@{
    Layout = null;
}

<footer id="footer" class="footer tc bg-white">
    <p class="bfx01"><span class="btnliji wh db f15" style="background: rgb(85, 85, 85);" onclick="goUrl('@Url.Action("KanDian","Home")')">预约看店</span></p>
    <p class="bfx01 pl5">
        <a href="tel:13311601955">
            <span class="btnliji wh db f15">电话我们</span>
        </a>
    </p>
</footer>
