@charset "utf-8";
.remarks{line-height:24px;border:1px solid #CDDDE2;background:#CDDDE2;border-radius:4px;text-align:left;padding:0px 5px;}
.replay{line-height:24px;border:1px solid #64B9E4;background:#64B9E4;border-radius:4px;text-align:right;padding:0px 5px;}
.godbg{background:url(/images/feibg.jpg);-webkit-background-size:60px 60px;background-size:60px 60px; }
.godge{ height:10px; overflow:hidden;}

.gorbg{background:url(/images/feibg.jpg);-webkit-background-size:60px 60px;background-size:60px 60px; }
.ger{ height:10px; overflow:hidden;}
.arowli{background:url(/images/member/arrowico.png) no-repeat center right;-webkit-background-size:22px 22px !important;background-size:22px 22px !important;}
/* 购物车样式 */
.cart_info{padding:10px; border-bottom:1px #CCC solid;}
.cart_list{ overflow:hidden;}
.cart_list .cart_nopro{ padding-top:80px;background:url(/images/cartbg.png) no-repeat top center;-moz-background-size:80px 80px;-webkit-background-size:80px 80px;background-size:80px 80px;}
.cart_list .grayBtn{background:#EFEFEF; display:block; border:1px solid #dfdfdf; text-align:center;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px; padding:12px 0;}
.cart_list ul{ display:block; background:#fff;}
.cart_list .cart_shoptit{ padding-left:40px;border-bottom:1px #dfdfdf solid;position:relative;height:40px; line-height:40px;}
.cart_list li{padding:10px 5px 40px 5px;overflow:hidden;border-top:1px #dfdfdf solid; display: -webkit-box;display: box; position: relative;}
.cart_list li img{width:90px;height:60px;display:inline-block;background:url(/images/loading.gif) center center no-repeat;}
.cart_list li h3{color:#000; max-height:32px; line-height:16px; overflow:hidden;}
.cart_list li .mse{height: 30px; line-height: 30px; position: absolute; left: 0;right: 0;bottom: 0;border-top:1px #dfdfdf dotted;}
.cart_list li .shopjia{padding:6px 0;color:#777;}
.cart_list li .shopjia .cartprice{color:#8016AD;}
.cart_list li:last-child{border-bottom:1px #dfdfdf solid; }

.cartgo{line-height:150%;color:rgb(200,180,170);font-size:1.2rem;}
.cartgo .cartnum{width:35px; height:26px; line-height:26px; text-align:center; font-size:1.6rem; display:inline-block; border-top:1px #d8d8d8 solid;border-bottom:1px #d8d8d8 solid;border-left:none;border-right:none;color:#333; float:left; background:#fff; padding:0; margin:0;-webkit-border-radius:0; border-radius:0;}
.cartgo .cartmin{width:26px; height:26px; line-height:26px; text-align:center; font-size:1.8rem; font-weight:bold; display:inline-block; border:1px #d8d8d8 solid;color:#333;float:left;}
.cartgo .cartadd{width:26px; height:26px; line-height:26px; text-align:center; font-size:1.8rem; font-weight:bold; display:inline-block; border:1px #d8d8d8 solid;color:#333;float:left; margin-right:8px;}
.delCart{width:30px; height:26px; display:block; background:url(../images/trash_icon.png) no-repeat center center;-moz-background-size:20px 20px;-webkit-background-size:20px 20px;background-size:20px 20px;color:#fff;}

.checkboxs{width:20px;height:20px;display: block;float: none;border:1px solid #DBDBDB;background: #F5F7F9;cursor:pointer;display:inline-block;outline:0;margin:0;position:absolute;left:10px;top:50%; z-index:20;margin-top:-10px;-webkit-border-radius:50%;border-radius:50%;}
.checkcur{width:20px;height:20px;border:1px solid #8E488E;background:url(../images/tickico.png) no-repeat center center #8E488E;-webkit-border-radius:50%;border-radius:50%;-moz-background-size:12px 12px;-webkit-background-size:12px 12px;background-size:12px 12px;}
.checkhide{width: 0;height: 0;border: none; display:none;}

.cart-radio{-webkit-appearance:none;-moz-appearance:none;appearance:none;width:22px;height:22px;border:1px solid #DBDBDB;background:#F5F7F9;color:#fff;cursor:pointer;display:inline-block;outline:0; position: relative;}
.cart-radio::after{background:#F5F7F9;content:'';display:block;z-index:100;}
.cart-radio:checked{background:#8E488E;border:1px solid #8E488E;}
.cart-radio:checked::before{width:20px;height:20px;line-height:20px;display:inline-block;text-align:center;}
.cart-radio:checked::after{background:url(../images/tickico.png) no-repeat center center #8E488E;content:'';display:block;z-index:100;-moz-background-size:12px 12px;-webkit-background-size:12px 12px;background-size:12px 12px;}
.cart-radio.choose{border-radius:50%;}
.cart-radio.choose::after{border-radius:50%;width:12px;height:12px;position:absolute;left:50%; top:50%; margin: -6px 0 0 -6px;}

.shopfix{background:#fff; border-top:1px solid #ccc; color:#666;  height:50px; position:absolute;position:fixed!important; bottom:0; left:0; right:0; z-index:100;display: -webkit-box;display: box;}
.total {font-size:14px; line-height:140%;}
.countPrice  {color:#ff9000;}
.total i {color:#ff0000; padding:0 2px;}
.settlBtn{position:absolute; top:7px;right:8px;}
.settl-btn {height:36px; line-height:36px;background: #8E488E; display:block; text-align:center; color:#FFF !important;-webkit-border-radius:4px;border-radius:4px; border: none;}
.settl-btn-gray {height:36px; line-height:36px;background:#dfdfdf; display:block; text-align:center; color:#999;-webkit-border-radius:4px;border-radius:4px;border: none;}
.lookinstructions{ width:40px; height:40px; line-height: 40px; text-align: center; background:rgba(128,22,173,0.8); border: 1px #8016AD solid; border-radius:200px;display: block;z-index: 200; position: fixed; display: block; bottom: 55px; left: 10px; color: #FFFFFF;}

/* 我的订单 */
.myorde{padding:10px 0 15px 0;}
.myorde_list{ background:#FFF;border-top:1px #dfdfdf solid;border-bottom:1px #dfdfdf solid;}
.myorde_nocart{ padding-top:100px;-moz-background-size:100px 100px;-webkit-background-size:100px 100px;background-size:100px 100px;}
.placeorder{color:#333; line-height:30px; padding:5px 10px;}
.placeorder .pinbtn{background:#ff4136; padding:5px 10px;line-height:20px;}
.placeorder .nobtn{padding:5px 0px;line-height:20px;}

.poincondan{width:100%;overflow:hidden;padding:0;}
.poincondan li{position:relative;min-height:60px; padding:10px 20px 10px 10px;border-top:1px #dfdfdf dotted;overflow:hidden;display: -webkit-box;
  display: box;}
.poincondan li a{width:100%;display:block;overflow:hidden;}
.poincondan li img{width:50px;height:auto;display:inline-block;}
.poincondan li h3{color:#333; line-height: 18px;}
.poincondan li p{color:#777;}

.settlement{border-top:1px #dfdfdf dotted;color:#333; padding:10px;}
.setstate{color:#333; padding:5px 10px;border-top:1px #dfdfdf dotted;}
.setstate .delorder{height:24px; line-height:24px; padding:2px 10px; background:#f5f5f5; border:1px #e3e3e3 solid;}
.setstate .payment{height:24px; line-height:24px; padding:2px 10px; background:#8E488E; border:1px solid #8E488E; color: #fff;}
.setstate .payment-gray{height:24px; line-height:24px; padding:2px 10px; background:rgb(249,244,238);border:1px solid rgb(221,198,189); color: #999;}
.settlement .inputtext{border:1px solid #dfdfdf;width:80%;height:80px;}
/*订单详情*/
.orderdeta{padding:0; display: block;;}
.orderdeta_tit{color:#333; padding-left:10px;}
.orderdeta_count{padding: 10px 20px 10px 15px; height:65px;  background:url(../images/member/countbg.jpg?v=2015916) no-repeat center center;-webkit-background-size:100% 100%;background-size:100% 100%;}
.orderdeta_count .countbg{line-height:65px;background:url(../images/member/cdownbg.png) no-repeat right center; -webkit-background-size: 50px 50px;background-size: 50px 50px;color:#8016AD;}
.orderdeta_list{border-top:1px #dfdfdf solid;border-bottom:1px #dfdfdf solid; background:#FFF;}
.orderdeta_list li{position:relative;min-height:50px; padding:10px 20px 10px 10px;overflow:hidden;border-bottom:1px #dfdfdf solid;display: -webkit-box;display: box;}
.orderdeta_list li.tbli{padding:10px;}
.orderdeta_list li img{width:90px;height:60px;display:inline-block;}
.orderdeta_list li h3{overflow: hidden; padding-top:8px;color:#333;text-overflow: ellipsis;white-space: nowrap;}
.orderdeta_list li p{padding:6px 0;color:#777;}
.orderdeta_list li:last-child{border-bottom:none; }
.orderdeta_info{border-top:1px #dfdfdf solid;border-bottom:1px #dfdfdf solid; background:#FFF;}
.orderdeta_info li{position:relative; overflow:hidden;padding:12px 10px 12px 90px;border-bottom:1px #dfdfdf solid;}
.orderdeta_info li.onarw{position:relative; overflow:hidden;padding:12px 20px 12px 90px;}
.orderdeta_info li label{color:#999;position: absolute; top:14px; left:10px;}
.orderdeta_info li p{color:#333; min-height:20px; line-height:20px;}
.orderdeta_info li:last-child{border-bottom:none; }
.orderdeta_info a{width:100%;display:block;overflow:hidden;}
.wordeitem_jia{color:#333;background:#fff;border-top:1px #ccc solid; padding:15px 20px;}
.ortui-btn {height:30px; line-height:30px;background: #8E488E; display:block; text-align:center; color:#FFF;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.orderdeta_moadrs{border-top:1px #dfdfdf solid;border-bottom:1px #dfdfdf solid;background:url(../images/member/bantbg.png) repeat-x left top #fff;-moz-background-size:239px 4px;-webkit-background-size:239px 4px;background-size:239px 4px;}
.orderdeta_moadrs_con{background:url(../images/member/bantbg.png) repeat-x left bottom; padding:15px 22px 15px 10px;-moz-background-size:239px 4px;-webkit-background-size:239px 4px;background-size:239px 4px;}
.orderdeta_moadrs_arrow{ width:10px; height:20px;background:url(../images/arrowico.png) no-repeat center center;right:8px; top:50%; margin-top:-10px;-moz-background-size:8px 20px;-webkit-background-size:8px 20px;background-size:8px 20px;}

.orderdetafix{background:#fff; border-top:1px solid #ccc; color:#666;  height:50px; position:absolute;position:fixed!important; bottom:0; left:0; right:0; z-index:100;display: -webkit-box;display: box;}
.orderdeta-btn {position:absolute; right:10px; top:8px;height:36px; line-height:36px;background: #8E488E; display:block; text-align:center; color:#FFF;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.orderdeta-btngray {position:absolute; right:10px; top:8px;height:36px; line-height:36px;background:rgb(249,244,238); display:block; text-align:center; color:#999;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border:1px solid #ccc;}

/* 退换货 */
.tuideta_tit{color:#333; padding-left:10px;}
.tuideta_bianh{overflow:hidden;padding:14px 10px;border-top:1px #dfdfdf solid;border-bottom:1px #dfdfdf solid;background:#fff;}
.tuideta_list{ background:#FFF;}
.tuideta_list li{position:relative;min-height:50px; padding:10px 20px 10px 10px;overflow:hidden;display: -webkit-box;display: box;}
.tuideta_list li img{width:50px;height:50px;display:inline-block;}
.tuideta_list li h3{overflow: hidden; padding:10px 0 0 0;color:#333;text-overflow: ellipsis;white-space: nowrap;}
.tuideta_list li p{padding:6px 0;color:#777;}
.tuideta_list li:last-child{border-bottom:none; }
.tuideta_info{border-top:1px #dfdfdf solid;border-bottom:1px #dfdfdf solid; background:#FFF;}
.tuideta_info li{position:relative; overflow:hidden;display: -webkit-box;display: box;padding:12px 10px;border-bottom:1px #dfdfdf solid; line-height: 24px;}
.tuideta_info li:last-child{border-bottom:none; }
.tuideta_info a{width:100%;display:block;overflow:hidden;}

.tuiselect {display:block; color:#333; width:100%; border:none; height:24px; line-height:22px; -webkit-appearance:none; background:#ffffff;}
.tuiselect-text {position:relative; border-radius:2px;-webkit-box-flex: 1;box-flex: 1; display: -webkit-box;}
.tuiselect-text:after {position:absolute; content:""; right:0; top:0; width:28px; height:24px; background:url(../images/member/arrow_down.png) no-repeat center center;background-size:10px 6px;}

.tuigo{line-height:150%;color:rgb(200,180,170);font-size:1.2rem;}
.tuigo .tuinum{width:35px; height:26px; line-height:26px; text-align:center; font-size:1.6rem; display:inline-block; border-top:1px #d8d8d8 solid;border-bottom:1px #d8d8d8 solid;border-left:none;border-right:none;color:#333; float:left; background:#fff; padding:0; margin:0;-webkit-border-radius:0; border-radius:0;}
.tuigo .tuimin{width:26px; height:26px; line-height:26px; text-align:center; font-size:1.8rem; font-weight:bold; display:inline-block; border:1px #d8d8d8 solid;color:#333;float:left;}
.tuigo .tuiadd{width:26px; height:26px; line-height:26px; text-align:center; font-size:1.8rem; font-weight:bold; display:inline-block; border:1px #d8d8d8 solid;color:#333;float:left; margin-right:8px;}

.tuirawal{background:#fff;border-top:1px #dfdfdf solid;border-bottom:1px #dfdfdf solid;}
.tuirawal .tuwalnum{line-height:24px;padding:15px 10px;border-bottom:1px #dfdfdf solid;}
.tuirawal .tuwaltab{overflow:hidden;}
.tuirawal .tuwaltab li{width:50%;float:left;-webkit-box-sizing:border-box; -moz-box-sizing:border-box;box-sizing:border-box;text-align:center;background:#EFEFEF;border-bottom:1px #dfdfdf solid;height:40px;line-height:40px;color:#666;}
.tuirawal .tuwaltab li.on{ height:40px;line-height:40px; background:#fff; border-bottom:1px #951BC9 solid;color:#000;}
.tuirawal .tuwaltab li.on:last-child{border-right:none; }
.tuirawal .tuwalul{ overflow:hidden;}
.tuirawal .tuwalul ul{ padding: 10px; overflow: hidden;display:none;}
.tuirawal .tuwalul li{width:100%;float:left;-webkit-box-sizing:border-box; -moz-box-sizing:border-box;box-sizing:border-box;margin:8px 0; overflow: hidden;}
.tuirawal .tuwalul .rainp{ padding:0 8px;height:38px; line-height:38px;background:#fff;border:1px #DDDDDD solid;}
.tuirawal .tuwalul .rainp input{width:100%;height:22px; line-height:22px; background:#fff;margin:8px 0; padding:0; border:none; vertical-align:top;}
.tuwalBtn{height:38px;line-height:38px;margin:2px 0;  padding:0 15px; display:block; background:#32A632;border:1px #32A632 solid;color:#fff; text-align:center;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}



.givestatemain{width:96%;border:1px solid #c6c6c6;margin:0px auto;}
.givestate{width:100%;background:#f8f8f8;}
.givestate h2{height:50px;line-height:50px;width:100%;margin:0px auto;}

.givestatetit{width:100%;margin-top:10px;background:#f8f8f8;}
.givestatetit p{line-height:24px;font-size:14px;color:red;text-indent:10px;}
.givestatetit h2{font-size:14px;line-height:30px;margin:0px 10px;}








