@charset "utf-8";
/* CSS Document */
@import url(icon.css);
.bfx01{width: 100%;position:relative;-webkit-box-flex:1;box-flex:1;}
.bfx02{width: 100%;position:relative;-webkit-box-flex:2;box-flex:2;}
.bfx03{width: 100%;position:relative;-webkit-box-flex:3;box-flex:3;}
.bfx04{width: 100%;position:relative;-webkit-box-flex:4;box-flex:4;}
.bfx05{width: 100%;position:relative;-webkit-box-flex:5;box-flex:5;}
.bfx06{width: 100%;position:relative;-webkit-box-flex:6;box-flex:6;}
.bfx07{width: 100%;position:relative;-webkit-box-flex:7;box-flex:7;}
.bfx08{width: 100%;position:relative;-webkit-box-flex:8;box-flex:8;}
.listinfo{-webkit-box-orient:vertical;-webkit-box-pack:center;display:-webkit-box!important;display:box!important;}
.header{width: 100%;height:44px;position:fixed!important;position:absolute;top:0;left:0;z-index:200;display:-webkit-box!important;display:-moz-box!important;display:box!important;}
.header h1{width:100%;height:44px;line-height: 44px;padding:0;font-size:1.6rem;text-align:center;text-overflow:ellipsis;-webkit-box-orient:vertical;display:-webkit-box!important;display:-moz-box!important;display:box!important;overflow:hidden;-webkit-line-clamp:1;}
.header .sobox{height:30px;margin:7px 0;display:block;-webkit-border-radius:4px;border-radius:4px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; padding:5px 5px;background: #fff;}
.header .search {width: 100%;display: block;height:20px; line-height:20px;border: 0 none;background: #fff; padding:0; margin:0;}
.footer{width: 100%;height:50px;position:fixed!important;position:absolute;bottom:0;left:0;z-index:200;border-top:1px #ccc solid;background-color: #f3f3f3;display:-webkit-box!important;display:-moz-box!important;display:box!important;}
.aubgs{width:44px; height:44px;display:-webkit-box!important;display:-moz-box!important;display:box!important; background-position:center center; background-repeat:no-repeat;-moz-background-size:80%!important;-webkit-background-size:80%!important;background-size:80%!important;}
.indexaubgs{width:50px; height:50px;display:-webkit-box!important;display:-moz-box!important;display:box!important; background-position:center center; background-repeat:no-repeat;-moz-background-size:100%!important;-webkit-background-size:100%!important;background-size:100%!important;}
.colum1{width:100%;float:left; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;box-sizing:border-box;}
.colum2{width:50%;float:left; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;box-sizing:border-box;}
.colum3{width:33.33%;float:left; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;box-sizing:border-box;}
.colum4{width:25%;float:left; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;box-sizing:border-box;}
.colum5{width:20%;float:left; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;box-sizing:border-box;}
.yclogo{width:50px; height:50px; background-position:center center; background-repeat:no-repeat;-webkit-background-size:60%!important;background-size:60%!important;background-image:url(../images/yclogo.png)!important;}
.ycpurple{background:#8E488E;}
.copurple{color:#8E488E;}
.icon-text{ line-height:50px;color:#fff; text-align:left;}

.ftbari{width:26px;height:24px; position:relative; margin:0 auto;-webkit-background-size:26px 26px !important;background-size:26px 26px !important; background-repeat:no-repeat; background-position:top center;display:block;}
.ftbarem{width:100%; text-align:center;display:block;height:18px; line-height:18px;color: #666;}
.ftnum{min-width:14px;height:14px; line-height:14px;text-align:center;display:none;border:1px #C71521 solid; background:#fff; color:#C71521;position:absolute; top:0px; right:-15px; border-radius:50%; font-size: 1rem; text-decoration: none;}
.ftdot{min-width:8px;height:8px; line-height:8px; background:#e43742; position:absolute; top:0px; right:-9px; border-radius:50%; display:none;}
.fthome{background-image:url(../icons/home_icon.png)!important;}
.ftcart{background-image:url(../images/icon-cartbar.png)!important;}
.fttel{background-image:url(../images/icon-telbar.png)!important;}
.ftuser{background-image:url(../images/icon-userbar.png)!important;}
.ftmore{background-image:url(../images/icon-more.png)!important;}
.ftzazhi{background-image:url(../images/icon-zazhi.png)!important;}
.fweixiu{background-image:url(../icons/weixiu_icon.png)!important;}
.fmenu{background-image:url(../icons/icon-menu.png)!important;}
.fnews{background-image:url(../icons/icon-news.png)!important;}
/* 头部搜索 */
.headsosbox{height:36px; line-height:36px; display:block; text-align:left;-webkit-border-radius:4px;border-radius:4px;margin-top:4px;padding:0 5px 0 30px;-webkit-background-size:20px 20px;background-size:20px 20px;z-index:50; background-position:4px center; background-repeat:no-repeat;background-color:#fff;position:relative;-webkit-box-flex:1;box-flex:1;}
.sosbg{background-image: url(/images/search.png);}
.formaltab{padding:0 0 0 0;height:44px;border-bottom:1px #8E488E solid; background:#8E488E; position:relative;}
.formalclose{width:44px; height:44px;position: absolute;top:0; right:2px;background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAADwUlEQVR4Xs3Z304UdxjG8d1xrRBBhR71Lpr0xBNt1UKI1QomljS10S67/FkEC7jAAlrQQF0EXMUFloiAhH+LINqWa+hRL6BX4EFvoKWwfg/YhEzye8Jkd2fnST5HL8zmmfc3zCb4M5mM5fP5IriODxjDX/ByfjpQjt8QDxyUmEQ2NbiMP+HF9GEY2XyOMxaDBhxOBXbwJbyWXzAMe+osBsdgTwW2cBFeyX0MGmb/WAyWDcNKvME5FDs9eGiY7WHIYjCBeUOZCvyBCyhWYnhsmO3jB2xbDHYRwpKhTDm28TXcTjdGxCaCWIfPOtQsKDZzCmlUw61EETfM/kcYiyAUsQ0b8FIcsy1ccKnEqGGWQYP9pluw/1AjFgxlTuJ9gY/ZXWMJIITX9oFlaBxEylCmDJu4gnynEwnxTITxCkQUsZVpxox4ZlZRg3zlDsbFPCKOPUV0WvBCbOYtvkGuacck1HGaBVFFtDbxISXYwFWISK14JuZNmIOM5eCOJQ2zUqzgGpwmIjaRQZvahC6iz3BCHLO0wzItSMIvNvUCIqqI1iEu/gnS+BZECmEKalPTILkU0drwVJRZww2Y0oyUmP+sSugiznViXDwzS/gO9oQxBUts/BmIG0WAe2IzJ7CMOmTzI2bhF9dLgLhZBOgUX7EDWEctvseCgw27XASIie9Gx5HGkth+L54ipwSQj/TAh25DGXUT4iBwdSO6zCMcNd3iWLpQRHuAfuzClP/QiScgxSyi/Y09Md/HBxDvFrmOVZTAlBIs46ZXi9RjDQEQyY/XCHmtSD0WDX+hVJlZNHqlSC0WcMIwH0CPKDODYLHfI3VYF5sYxDCyiRvKzOE4UsXYSC1WRYnHGEI2o+iHKTNodrvINSyJ4xRHDPaMoA+mJBFxq8gVrKPMMP8VvfCJeZe4sUk0FbpIDTbEJsbRByJNoBvqmEUKVeQq0uJlN4Z7OGqeoAvqmHXku0gVVlAuNhGF00ygA2relq8i1XiHshw2oSRwR8yfoyvXItXYRKm4Y1HkmiRaxXxMl9FFqrAmNjEpL+7cFO4iI8pEnRa5iC1UiHW3I995jhYxH0XvUYucxzu9Ce5c4ZJCBOo9FIUscglvRYnpfG9CfE4z9sRmBkxFvsIGKp28pIq4mUe4by9yFtvimXiFFridWYTF/CFi2SJfYAenxcUaUKy8xG3sG+YjuGUxiIlNzKMJxc4iGkWZkMXgM/HLYXglcwgZypy0GKwZNhHEHryUedxExjb4PXDoHy718OM9RpGBF7OKf9GDT7GD+EdnPc+ImX0QzQAAAABJRU5ErkJggg==");background-position:center center; background-repeat:no-repeat;-moz-background-size:18px 18px;-webkit-background-size:18px 18px;background-size:18px 18px;z-index: 10;}
.formaltab ul{ width:100%;position:absolute; left:0; top:0; height:50px;}
.formaltab ul li{width:100%;height:50px; line-height:50px;color: #fff; cursor:pointer;text-align: center;}
.formalsosbox{height:40px; margin:10px 65px 10px 15px;display:block; border:1px #ccc solid;-webkit-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; padding:5px 35px 5px 30px;-webkit-background-size:20px 20px;background-size:20px 20px;background-position:4px center; background-repeat:no-repeat;background-color:#fff;}
.formalsosbox .intext{width: 100%;display: block;height:28px; line-height:28px;border: 0 none;background: #fff; padding:0; margin:0;}
.formalsosbox .corss{width:20px; height:20px;position: absolute;top:50%; right:10px; margin-top:-10px;background: url(../images/crossico.png) no-repeat center center;-moz-background-size:18px 18px;-webkit-background-size:18px 18px;background-size:18px 18px; display:none;}
.formalsosbox .formalbtn{height: 40px;line-height: 38px;padding:0; margin:0;min-width: 55px;display: inline-block;text-align: center;color: #333;top:-1px; right:-50px;background-color: #fdfdfd;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, white), to(#fafafa));-webkit-border-radius: 0 4px 4px 0;border-radius: 0 4px 4px 0;vertical-align: top;-webkit-box-sizing: border-box;border: 1px solid #ccc;-webkit-background-clip: padding-box;background-clip: padding-box;}
.formalmask{z-index:15000;width:100%;height:100%;left:0;top:0;margin:0;padding:0;border:0;position:fixed!important;position:absolute; background:rgb(242,242,242);}
/*列表按压态*/
.listactive li:active, .listactive dd:active, .listlink a:active{background-color: #e5e6e7;}
/* NAV弹出式导航 */
.navmorelist {width:126px;position: absolute;top:52px;right:5px;background: #484F55;z-index:350;border: 1px solid transparent;border-radius: 4px;-webkit-transform-origin: 0px 0px 0px;opacity: 1;-webkit-transform: scale(1, 1);display: none;}
.navmorelist:after{content:"";position:absolute;top:-16px;right:8px;display:inline-block;width:0;height:0;border-style:solid;border-color:transparent transparent #484F55 transparent;border-width:8px}
.navmorelist li{border-bottom:1px solid #5B6166;height:38px;line-height:38px;text-align:left;text-indent:2.5em;background:#484F55}
.navmorelist li a{position:relative;display:block;width:100%;color:#fff}
.navmorelist li:last-child{border-bottom:0;}
.navmoremask{z-index:300;width:100%;height:100%;left:0;top:0;margin:0;padding:0;border:0;position:fixed!important;position:absolute;}

.barlist {width:150px;position: fixed!important;background: #484F55;z-index:350;border: 1px solid transparent;border-radius: 4px;-webkit-transform-origin: 0px 0px 0px;opacity: 1;-webkit-transform: scale(1, 1);display: none;}
.barlist:after{content:"";position:absolute;bottom:-16px;left: 50%;display:inline-block;width:0;height:0;border-style:solid;border-color:#484F55 transparent transparent transparent;border-width:8px;margin-left: -8px;}
.barlist li{border-bottom:1px solid #5B6166;height:38px;line-height:38px;text-align:left;text-indent:2.5em;}
.barlist li a{position:relative;display:block;width:100%;color:#fff}
.barlist li:last-child{border-bottom:0;}
.barlist .baico{-webkit-background-size:30px 30px;background-size:30px 30px;background-repeat: no-repeat; background-position: 4px center;}
.barmask{z-index:300;width:100%;height:100%;left:0;top:0;margin:0;padding:0;border:0;position:fixed!important;position:absolute;}
/* 验证或提示 */
.ustip{ width:90%;height:40px; line-height:40px; background:rgba(0,0,0,0.9); color:#fff; position:fixed!important; top:15%; left:5%;right:5%;-webkit-border-radius:5px;border-radius:5px;}
.ustip p{padding:0 40px 0 10px; font-size:1.5rem;text-align:center;}
.tipclose{width:40px;height:40px;line-height:40px;text-align:center;color:#ccc;font-size:2rem;display:block;position:absolute;right:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
/* 遮罩层 与加载Loading*/
.cssmask{z-index:15000;width:100%;height:100%;left:0;top:0;margin:0;padding:0;border:0;position:fixed!important;position:absolute;}
.csscentbox{-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;box-orient: horizontal;box-pack: center;box-align: center;position:fixed!important;position:absolute;}
.sploadcent{width: 100%;height: 100%;top: 0;left: 0;z-index:500;position: fixed !important;display: -webkit-box;-webkit-box-orient: vertical;-webkit-box-align: center;-webkit-box-pack: center;}
.sploadbox{padding:15px;border-radius:5px;background:#000;color: #FFFFFF;}
.sploadbox em{vertical-align:middle;-webkit-box-orient:vertical;-webkit-box-pack:center;}
.loadingbox{-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;box-orient: horizontal;box-pack: center;box-align: center;-webkit-box-flex: 1;margin:10px;padding-top:10px;border-top: 1px #ccc dotted;}
.loadingrdu,.loadingrdu img{width:30px;height:30px;display:block;}

/* 返回顶部 */
.gotop{ width:40px; height:40px; background:rgba(0,0,0,0.8);-webkit-border-radius:6px;border-radius:6px;display: block;}
.gotop:before, .gotop:after {content: '';border-color: transparent;border-style: solid; position: absolute;}
.gotop:before {width: 10%;height: 40%;top: 35%;left: 45%;border: none;background-color: #fff;}
.gotop:after {left: 25%;top: 0%;border-width: 10px 10px;border-bottom-color: #fff;}


/*加载*/
.loading{ width:100%; height:100%; position:absolute; bottom:0px; top:44px; display:box; display:-webkit-box; box-align:center; -webkit-box-align:center;}
.loading span{ display:block; font-size:1.4rem; padding-top:40px; background:url(/images/loading.gif) no-repeat center top; width:100%; text-align:center; margin-top:-44px;}


/*积分和金币*/
.jibbi{background: url(/bg/jinbie.png) center center no-repeat;display: inline-block;height:16px;width:26px;}
.jiantou{background:url(/bg/jiantou.png) center center no-repeat;display:inline-block;height:16px;width:40px;}
.jifen{background: url(/bg/jifen.png) center center no-repeat;display: inline-block;height:16px;width:26px;}


/*联系我们*/
.contactus{margin-top:20px;}
.contactus p{color:#333;font-size:1.4rem;margin-left:10px;position:relative;padding-left:30px;display:block;height:50px;}
.contactus h4{margin-left:10px;font-size:1.6rem;padding-left:30px;height:50px;font-weight:bold;}
.contactus p em {
  content: "";
  position: absolute;
  top:6px;
  left: 0;
  margin-top: -3px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000 center center;
}




