@charset "utf-8";
/* CSS Document */
.godbg{background:url(../images/feibg.jpg);-webkit-background-size:60px 60px;background-size:60px 60px; }
.godge{ height:10px; overflow:hidden;}
.godslist{width:100%;display:block;background: #FFFFFF;}
/*---分类列表---*/
.catebox{ overflow: hidden;padding-top: 40px; position: relative;}
.catebox-nav{max-width:100%;width: 100%;height:40px;position:fixed!important;top:44px;left:0;z-index:200; display:block; background:#F9F9F9;}
.catebox-nav li{width:33.33%;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; text-align:center;background:#fff;border-bottom:1px #dfdfdf solid;height:40px;line-height:40px;color:#666;}
.catebox-nav li.on{ height:40px;line-height:40px; background:#fff; border-bottom:1px #951BC9 solid;color:#000;}
.catebox-nav li.on:last-child{border-right:none; }
.catebox-cent{display:block; overflow: hidden;}
.catecentlist,.catecentpinp,.countrieslist{overflow: hidden;display:block;position: relative;}
.catecentlist dl,.catecentpinp dl{width:100%;display:block;overflow: hidden;}
.catecentlist dl{border-bottom:1px #DFDFDF solid;}
.catecentlist dt{width: 100%;height:40px;line-height:40px; margin-bottom:15px;border-bottom:1px #DFDFDF solid;color:#666;overflow: hidden;}
.catecentlist dd{width:25%;height:90px;margin-bottom:5px;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; text-align:center;}
.catecentlist dd img{width: 60px;height: 60px;border: 0;}
.catecentlist dd .ctit{display: block;height:24px;line-height:24px;overflow: hidden;text-overflow: ellipsis}
.catecentpinp dt{width: 100%;height:30px;line-height:30px;background: #EFEFEF;border-bottom:1px #DFDFDF solid;text-transform:uppercase;}
.catecentpinp dd{border-bottom:1px #DFDFDF solid;height:40px;line-height:40px; }
.catecentpinp dd .ctit{ padding-left:20px;display: block;overflow: hidden;text-overflow: ellipsis;}
.countrieslist ul{ overflow: hidden; padding: 8px 6px;}
.countrieslist li{width:25%;float:left; margin:5px 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; text-align:center;}
.countrieslist li img{width:80%;border: 1px #dfdfdf solid; margin-bottom:3px;}
.countrieslist li p{display: block;height:24px;line-height:24px;overflow: hidden;text-overflow: ellipsis}

.sequenbox{width:30px; position:fixed!important;display: block;overflow: hidden;background: #666; z-index: 500;}
.sequenbox li{width: 100%;display: block; text-align: center;}
.sequenbox li a{width: 100%;display: block; color: #fff;text-transform:uppercase;}

.listchildnav{width:100%;height:40px;position:fixed!important;top:50px;left:0;z-index:200;display:-webkit-box;display:box;background: #F3F3F3;}
.listchildnav ul{width:100%;  display: -webkit-box;display: box;}
.listchildnav li{height:40px; line-height:40px;border-right:1px #dfdfdf dotted;border-bottom:1px #dfdfdf solid; text-align:center;}
.listchildnav li a{ width:100%;height:40px;text-decoration: none;display: block;}
.listchildnav li.on{border-bottom:1px #8016AD solid;}
.listchildnav li.on a{color:#8016AD;}
.listchildnav li:last-child{border-right: none;}

.naverbar {height:40px;z-index:200;border-bottom:1px #dfdfdf solid;position: fixed!important;left: 0;top:44px;right: 0;overflow: hidden;-webkit-box-align: center;box-align: center;display: -webkit-box!important;display: box!important;background-color: #F3F3F3;}
.naverbar .navtitle{position: absolute;left: 0;top:0px;height:40px; line-height:40px;display:none; padding-left:10px;font-size:16px;}
.naverbar .navbox{-webkit-box-orient: vertical;box-orient: vertical;-webkit-box-pack: center; box-pack: center;position: relative;-webkit-box-flex: 1; box-flex: 1; -webkit-flex: 1;flex: 1;display: -webkit-box!important;display: box!important;height: 100%;white-space: nowrap;line-height:40px; overflow:hidden;}
.naverbar .navlist {display: table-cell;height: 100%;white-space: nowrap;}
.naverbar .navlist li {display: table-cell;line-height:40px;padding: 0 .5em;border-right: 1px #dfdfdf dotted;}
.naverbar .navlist li.on a{color:#ff0000;}
.naverbar .navlist li:last-child {border-right: none;}
.navarrow{width:40px; height:40px; overflow:hidden;border-left:1px #dfdfdf solid;}
.navarrow:after {width: 10px;height: 10px;content: " ";display: inline-block;-webkit-transform: rotate(135deg);transform: rotate(135deg);border-width: 1px 1px 0 0;border-color: #999;border-style: solid;position: absolute;top: 12px;right: 14px;}
.mschildrens{-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;-webkit-transition: -webkit-transform .3s ease; transition: -webkit-transform .3s ease;transition: transform .3s ease;}

.naverbarlist{position:fixed!important;left: 0;top:85px;right: 0;z-index:200;overflow: hidden;border-bottom:1px #dfdfdf solid;background-color: #F3F3F3; display:none;}
.naverbarlist ul{ width:100%; overflow:hidden; min-height:40px;}
.naverbarlist li{ width:24.75%; float:left;height:40px; line-height:40px; text-align:center;font-size:14px;}
.naverbarlist li a{width:100%;display:inline-block;border-right:1px #dfdfdf solid;height:20px;line-height:20px;}
.naverbarlist li.on a{color:#ff0000;}
.naverbarlist li:nth-child(4n) {border-right: none;}
/*---产品筛选导航---*/
.godslist-nav{ display:block;height:45px; line-height:45px; background:#fff;box-shadow: 0px 2px 4px #aaa;}
.godslist-nav li{width:80%;height:45px; line-height:45px;-webkit-box-sizing:border-box; -moz-box-sizing:border-box;box-sizing:border-box; border-right:1px #dfdfdf dotted;}
.godslist-nav li.on{ color:#ff0000;}
.godslist-nav li.tudan{width:20%;height:45px;background:url(../images/tudanico.png) center center no-repeat;-moz-background-size:18px 18px;-webkit-background-size:18px 18px;background-size:18px 18px;border-right:none;}
.godslist-nav li.tuduo{width:20%;height:45px;background:url(../images/tuduoico.png) center center no-repeat;-moz-background-size:18px 18px;-webkit-background-size:18px 18px;background-size:18px 18px;border-right:none;}
/*---产品列表以及产品搜索列表---*/
.godslistbox{ padding:10px 7px; height:100%; display:block;}
.godslistbox li{border:1px #ccc solid;background:#fff; margin-bottom:10px ;border-radius:5px;}
/*.godslistbox li:last-child{border-bottom: none; margin-bottom:0 ;}*/
.godslistbox li a{ width: 100%; overflow: hidden; display: block; }
.godslistbox li .gcopic{width: 100%;position: relative;padding-top: 50%;}
.godslistbox li .gcopic span{width: 98%;height:98%;position: absolute;top: 0;left: 0;z-index: 2;background-repeat: no-repeat;-webkit-background-size: 100% 100%;background-size: 100% 100%;margin:1%;border-radius:5px;}
.godslistbox li .soldout:after {width: 100%;height: 100%;position:absolute; content:""; right:0; top:0;  background:url(../images/soldout.png) no-repeat center center rgba(0,0,0,0.15);background-size:35% 70%;z-index:10;}
.godslistbox li .mtit{min-height: 20px; line-height:20px;text-align:left; padding:0 5px;}
.godslistbox li p{ line-height:140%; text-align:left;}
.godslistbox li .infodiv{padding-right:85px;padding-bottom: 10px; position: relative;display: -webkit-box;display: box;-webkit-box-orient: vertical;-webkit-box-pack: center; overflow: hidden;}
.godslistbox li .mprice{ line-height:120%; text-align:left;padding:5px 5px 0 5px;}
.godslistbox li .purcol{color: #8016AD;}
.godslistbox li .btnbox{width:80px;-webkit-box-sizing:border-box; -moz-box-sizing:border-box;box-sizing:border-box; position:absolute; top:50%;right:5px; margin-top:-15px;}
.godslist_nopro{ padding-top:100px;/*background:url(../images/failureico.png) no-repeat top center;*/-moz-background-size:100px 100px;-webkit-background-size:100px 100px;background-size:100px 100px;}

.graysc{width:30px;height: 30px;background-image:url(../images/scf.png);}
.redsc{width:30px;height: 30px; color: #DD514C;background-image:url(../images/sch.png);}
.btncart{width:30px;height: 30px;background-image:url(../images/jiacartico.png);}
.gbs{background-position:center center; background-repeat:no-repeat;-webkit-background-size:30px 30px !important;background-size:30px 30px !important;}

.sm-navpanel{min-width: 140px;display: none;position:fixed!important;background: #f3f3f3;color: rgba(0, 0, 0, 0.7);overflow-y: auto;padding: 0;top: 0;bottom: 0; z-index: 0;background: #fff;}
.sm-navpanel.sm-current{display: block;}
.sm-conpanel{box-sizing: border-box;position: relative; z-index: 155;}

.sm-navpanel{overflow: auto;-webkit-overflow-scrolling: touch;overflow-scrolling: touch; }
.sm-navpanel::-webkit-scrollbar {width:0px;}
.sm-navpanel::-webkit-scrollbar-track {-webkit-border-radius: 1px;border-radius: 1px;}
.sm-navpanel::-webkit-scrollbar-thumb {-webkit-border-radius: 1px;border-radius: 1px;background:rgba(255,255,255,0); }
.sm-navpanel::-webkit-scrollbar-thumb:window-inactive {background: rgba(255,255,255,0);}

.accordion{width:100%;background:#FFF;}
.accordion .link{position:relative;display:block;padding:15px;border-bottom:1px solid #CCC;color:#4D4D4D;font-weight:700;font-size:14px;cursor:pointer;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease;}
.accordion li i{width:16px;height:16px;position:absolute;top:50%;right:5px;color:#595959; margin-top:-8px;background:url(../images/arrowico.png) center center no-repeat;webkit-background-size:16px 16px !important;background-size:16px 16px !important;}
.accordion li.open .link{color:#8016AD;}
.accordion li.open i{background:url(../images/arrowico-down.png) center center no-repeat;}
.accordion li .submenu{display:none;background:#efefef;font-size:14px;}
.accordion li .submenu li{border-bottom:1px solid #dfdfdf;display:block;padding:12px;padding-left:35px;color:#333;}
.accordion li.open .submenu{display:block;}
