@charset "utf-8";
/* by chen guojun QQ:249477145 */
html { font: 14px/1.5 "Microsoft Yahei","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; font-family: Microsoft YaHei!important; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
body { word-wrap: break-word; line-height: 1; font-family: 'microsoft yahei',Verdana,"\5FAE\8F6F\96C5\9ED1",Helvetica,Tahoma,sans-serif,"\5b8b\4f53",Arial; background: #fafafa; color: #000; -webkit-tap-highlight-color: rgba(255,255,255,0); -webkit-touch-callout: none; cursor: default; -ms-content-zooming: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { vertical-align: middle; -webkit-appearance: button; cursor: pointer; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input { line-height: normal; }
textarea { resize: none; overflow: auto; vertical-align: top; }
del { text-decoration: line-through; }
ul, ol, li, dl { list-style-type: none; }
i, em { font-style: normal; }
svg:not(:root) { overflow: hidden; }
img { border: 0; height: auto; vertical-align: middle; -ms-interpolation-mode: bicubic; -webkit-tap-highlight-color: rgba(0,0,0,0); }
a { text-decoration: none; color: #fff; outline: none; transition: background-color 0.3s ease 0s, color 0.3s ease 0s; }
a:hover { text-decoration: none; cursor: pointer; }
a.inherit { color: inherit; }

/* other */
.f0 { font-size: 0; }
.f8 { font-size: 0.8rem; }
.f10 { font-size: 10px; }
.f12 { font-size: 12px; }
.f14 { font-size: 14px; }
.f15 { font-size: 15px; }
.f16 { font-size: 16px; }
.f17 { font-size: 17px; }
.f18 { font-size: 18px; }
.f19 { font-size: 19px; }
.f20 { font-size: 20px; }
.f22 { font-size: 22px; }
.f24 { font-size: 24px; }
.f26 { font-size: 26px; }
.f28 { font-size: 28px; }
.f30 { font-size: 30px; }
.f32 { font-size: 32px; }
.f34 { font-size: 34px; }
.fmy { font-family: 'Microsoft Yahei',Verdana,"\u5fae\u8f6f\u96c5\u9ed1","\5b8b\4f53",Arial; }
.far { font-family: Arial,"\5b8b\4f53", sans-serif; }
/* display */
.dn { display: none; }
.di { display: inline; }
.db { display: block; }
.dib { display: inline-block; }
.zom { zoom: 1; *zoom: 1; }
/* clear */
.clear { clear: both; }
.clear { width: 100%; display: block; clear: both; font-size: 0; height: 0; line-height: 0; *zoom: 1; }
.clear:after { content: "."; clear: both; display: block; height: 0; visibility: hidden; }
.clearfix:after { content: "."; display: block; overflow: hidden; height: 0; clear: both; visibility: hidden; }
.clearfix { display: block; }
.rdu { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.rdu5 { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.rdu6 { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
/* float */
.fl { float: left; }
.fr { float: right; }
/* overflow position */
.ovh { overflow: hidden; }
.por { position: relative; }
.poa { position: absolute; }
/* font-style */
.b, strong { font-weight: bold; }
/* text-align */
.tc { text-align: center; }
.tr { text-align: right; }
.tl { text-align: left; }
.tj { text-align: justify; }
/* text-decoration */
.tdu { text-decoration: underline; }
.tdn, .tdn:hover, .tdn a:hover, a.tdu:hover { text-decoration: none; }
/* vertical-align */
.vm { vertical-align: middle; }
.vb { vertical-align: bottom; }
.vt { vertical-align: top; }
/* Block element horizontal center */
.auto { margin-left: auto; margin-right: auto; }
/* Single line overflow point display*/
.break { word-wrap: break-word; }
.nowrap { white-space: nowrap; }
.ell { max-width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.wlc01 { -webkit-line-clamp: 1; }
.wlc02 { -webkit-line-clamp: 2; }
.wlc03 { -webkit-line-clamp: 3; }
.wlc04 { -webkit-line-clamp: 4; }
.wlc05 { -webkit-line-clamp: 5; }
.wlc06 { -webkit-line-clamp: 6; }
/* box-flex */
.disbox { display: -webkit-box!important; display: -moz-box!important; display: box!important; }
/* margin */
.ml2 { margin-left: 2px; }
.ml5 { margin-left: 5px; }
.ml8 { margin-left: 8px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px; }
.mr2 { margin-right: 2px; }
.mr5 { margin-right: 5px; }
.mr8 { margin-right: 8px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr25 { margin-right: 25px; }
.mr30 { margin-right: 30px; }
.mt2 { margin-top: 2px; }
.mt5 { margin-top: 5px; }
.mt8 { margin-top: 8px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt50 { margin-top:100px; }
.mb0 { margin-bottom: 0px; }
.mb2 { margin-bottom: 2px; }
.mb5 { margin-bottom: 5px; }
.mb8 { margin-bottom: 8px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.m1 { margin: 1px; }
.m2 { margin: 2px; }
.m5 { margin: 5px; }
.m8 { margin: 8px; }
.m10 { margin: 10px; }
.m15 { margin: 15px; }
.m20 { margin: 20px; }
.m25 { margin: 25px; }
.m30 { margin: 30px; }
/* padding */
.pl2 { padding-left: 2px; }
.pl5 { padding-left: 5px; }
.pl8 { padding-left: 8px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl25 { padding-left: 25px; }
.pl30 { padding-left: 30px; }
.pt2 { padding-top: 2px; }
.pt5 { padding-top: 5px; }
.pt8 { padding-top: 8px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt25 { padding-top: 25px; }
.pt30 { padding-top: 30px; }
.pr2 { padding-right: 2px; }
.pr5 { padding-right: 5px; }
.pr8 { padding-right: 8px; }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr25 { padding-right: 25px; }
.pr30 { padding-right: 30px; }
.pb2 { padding-bottom: 2px; }
.pb5 { padding-bottom: 5px; }
.pb8 { padding-bottom: 8px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb25 { padding-bottom: 25px; }
.pb30 { padding-bottom: 30px; }
.p1 { padding: 1px; }
.p2 { padding: 2px; }
.p5 { padding: 5px; }
.p8 { padding: 8px; }
.p5 { padding: 8px; }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }
.p25 { padding: 25px; }
.p30 { padding: 30px; }
/* Backgrounds */
.bg-wh { background-color: #ffffff; /*白色*/ }
.bg-mogray { background-color: #E6E6E6; /*默认-灰色*/ }
.bg-blue { background-color: #0E90D2; /*蓝色*/ }
.bg-qblue { background-color: #3BB4F2; /*浅蓝色*/ }
.bg-green { background-color: #5EB95E; /*绿色*/ }
.bg-orange { background-color: #F37B1D; /*橙色*/ }
.bg-red { background-color: #DD514C; /*红色*/ }
/* Colors */
.g0 { color: #000; }
.g3 { color: #333; }
.g6 { color: #666; }
.g9 { color: #999; }
.ga { color: #aaa; }
.gb { color: #bbb; }
.gc { color: #ccc; }
.gd { color: #ddd; }
.ge { color: #eee; }
.wh { color: #fff; }
.prcolor { color: #8E488E; font-weight: bold; }
.blue { color: #0E90D2; }
.green { color: #5EB95E; }
.orange { color: #F37B1D; }
.red { color: #DD514C; }
a.links { color: #095f8a; text-decoration: underline; background-color: transparent; }
a.blue { color: #0E90D2; }
a.green { color: #5EB95E; }
a.orange { color: #F37B1D; }
a.red { color: #DD514C; }

.b1{margin:30px auto;}
.loadingbox { -webkit-box-orient: horizontal; -webkit-box-pack: center; -webkit-box-align: center; box-orient: horizontal; box-pack: center; box-align: center; -webkit-box-flex: 1; margin: 10px; padding-top: 10px; border-top: 1px #ccc dotted; }
.loadingrdu, .loadingrdu img { width: 30px; height: 30px; display: block; }

/* 返回顶部 */
.gotop { width: 40px; height: 40px; background: rgba(0,0,0,0.8); -webkit-border-radius: 6px; border-radius: 6px; display: block; }
.gotop:before, .gotop:after { content: ''; border-color: transparent; border-style: solid; position: absolute; }
.gotop:before { width: 10%; height: 40%; top: 35%; left: 45%; border: none; background-color: #fff; }
.gotop:after { left: 25%; top: 0%; border-width: 10px 10px; border-bottom-color: #fff; }

.picreload { width: auto; height: 100px; display: block; border: 1px solid #e3e3e3; min-width: 50px; }

.box { width: 1200px; margin: 0px auto; }

#header { width:100%;height:120px;background:#ad342f;}
#header .logo { float:left;}
#header .contacttel { background: url(../bg/bg_tel.png) no-repeat left center; height: 34px; color: #e4393c; line-height: 34px; font-size: 22px; margin-top:30px; }
#header .contacttel span { padding-left: 50px; }
#header .headernav{float:right;}
#header .headernav li {float:left;height:50px;display:inline-block;cursor:pointer;margin-left:40px;line-height:120px;font-size:16px;}
#header .headernav li a{color:#fff;}
#header .headernav li.selected{}
#header .headernav li.selected a{color:#F37B1D;font-weight:bold;}

#main{width:1200px;margin:0px auto;}
.mainbox{margin:30px 0px;}
.mainbox p{line-height:200%;}

.menuson{width:240px;background:#f7f7f7;overflow:hidden;box-shadow: 4px 0px 2px #888888;}
.menuson li{width:210px;height:91px;line-height:90px;padding: 0 0 0 30px;border-bottom:1px #f1f1f1 solid;white-space: nowrap;text-align: left;cursor:pointer;overflow:hidden;}
.menuson li:last-child{border-bottom:0px;}
.menuson li:hover{background:#e4393c;}
.menuson li:hover a{color:#f7f7f7;}
.menuson li a{color:#484848;width:250px;height:91px;}

.slider{width:950px;overflow:hidden;}


#footer{width:100%;height:510px;background:#333;overflow:hidden;margin-top:80px; }
.foot1{height:120px;border-bottom:1px solid #545454;overflow:hidden;}
.foot1 li{float:left;height:120px;line-height:120px;color:#fff;}
.foot1 li p{padding-top:40px;line-height:0px;padding-left:70px;}
.foot1 li.f_address{background:url(../bg/f_address.png) no-repeat left center;width:500px;}
.foot1 li.f_tel{background:url(../bg/f_tel.png) no-repeat left center;width:400px;}
.foot1 li.f_email{background:url(../bg/f_email.png) no-repeat left center;width:300px;}

.foot2{color:#737373;text-align:center;}
.foot2 div{margin-top:70px;}
.foot2 div dl{float:left;text-align:left;}
.foot2 div dl dt{color:#fff;font-size:16px;}
.foot2 div dl dd{padding-top:26px;}
.foot2 div dl dd a{color:#666;}
.foot2 div .f_aboutUs,.f_product{width:310px;}
.foot2 div .f_other{width:280px;}
.foot2 div .f_contact{width:220px;}

.curr{color: #d9a164;height: 30px;line-height: 30px;margin-top: 10px;}
.curr span {font-weight: bold;font-size: 14px;padding-right: 10px; padding-left: 6px;}


.btnsub{width:100%;padding:10px 15px;background:#e4393c;border-radius:4px;color:#fff;display:block;text-align:center;}


#slider { width:760px; /* important to be same as image width */
    height:450px; /* important to be same as image height */
    position: relative; /* important */
    overflow: hidden; /* important */
}
#slider img{  border: 0px;left: 0;  margin-left: 0;}
#sliderContent {width: 100%; position: absolute;top: 0;margin-left: 0;}
.sliderImage {float: left;position: relative;display: none;width: 100%;height:450px;left: 0;margin-left: 0;}
.sliderImage img{width:760px;height:450px;float: left;position: relative;left: 0;margin-left: 0;}
.sliderImage span {position: absolute;font: 14px 微软雅黑,sans-serif;padding: 1px 9px;width:758px;height:58px;line-height: 46px;background-color: #000;
    filter: alpha(opacity=60);-moz-opacity: 0.5;-khtml-opacity: 0.5; opacity: 0.5;color: #fff;display: none;letter-spacing:0.3mm;bottom:0px;left:0px;}
.newsList{width:420px;height:450px;overflow:hidden;}
.newsList li{border-bottom:1px dashed #999;margin-bottom:20px;}
.newsList li h5{font-size:16px;color:#666;margin-bottom:20px;}
.newsList li p{margin-bottom:22px;color:#999;}


.ourtit{text-align:center;width:1020px;margin:0px auto;}
.ourtit .tit1{font-size:12px;padding-top:50px;position:relative;}
.ourtit .tit2{font-size:30px;font-weight:bold;line-height:50px;}
.ourtit .tit3{font-size:14px;line-height:30px;color:#555;margin:0px auto;}

/* pages */
.pagelist{width:100%;background:url(../bg/Tab_bg.jpg) repeat-x;height:48px;margin:40px auto;}
.pages{clear:both;padding:10px 0;padding-right:10px;height:30px;overflow:hidden;position:relative;}
.pages:after{content:"\20";display:block;height:0;clear:both;}
.pages .total{float:left;padding-left:10px;font-size:12px;color:#666;line-height:26px;}
.pages .goto{float:right;position:absolute;right:30px;top:10px;}
.pages ul{padding-left:10px;position:absolute;right:10px;top:10px;}
.pages ul li{float:left;}
.pages ul li a{display:block;padding:0px 10px;margin-left:-1px;height:25px;line-height:25px;border:1px #ccc solid;background:#F2F2F2;color:#666;text-decoration:none;z-index:2;cursor:pointer;}
.pages ul li a:hover,.pages ul li a.selected{color:#fff;border-color:#f69200;background:#ff242d;position:relative;}
.pages .static{position:absolute;right:10px;top:10px;z-index:2;background:#fff;min-width:100px;max-width:250px;height:26px;overflow:hidden;text-align:right;}
.pages .static a{color:#2981e1;margin-top:5px;float:right;margin-right:10px;}

