@model ModelProject.SNewsModel
@{
    Layout = null;
}
@Html.Action("_Meta","Home")
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>首页<span class="c-gray en">&gt;</span>资讯管理<span class="c-gray en">&gt;</span>资讯列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="text-c">
        <span class="select-box inline">
            @Html.DropDownListFor(k => k.TypeId, Model.TypeDroList, new { @class = "select" })
        </span>
		日期范围：
		<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;">
		-
		<input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">
        @Html.TextBoxFor(k => k.Name, new { @placeholder = "资讯名称" ,@style = "width:250px" ,@class="input-text"})
		<button id="btnSearch" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>搜资讯</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i>批量删除</a> <a class="btn btn-primary radius" data-title="添加资讯" data-href="article-add.html" onclick="Hui_admin_tab(this)" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加资讯</a></span> </div>
	<div class="mt-20">
		@*@Html.Action("PageList","Article")*@
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
                <tr class="text-l">
                    <th width="25"><input type="checkbox" name="" value=""></th>
                    <th width="140">标题</th>
                    <th width="80">分类</th>
                    <th>摘要</th>
                    <th width="120">创建时间</th>
                    <th width="75">浏览次数</th>
                    <th width="120">操作</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
	</div>
</div>

 @Html.Action("_Footer","Home")
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="~/js/DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="~/js/laypage.js"></script>
<script type="text/javascript" src="~/js/ajaxScript.js?v=2"></script>
<script type="text/javascript">
    
    var param = {};
    $(function () { searchArticle(param); });
    $("#btnSearch").click(function () {
        //搜索条件
        var TypeId = $("#TypeId").val().trim();
        var Name = $("#Name").val().trim();
        var StartTime = $("#logmin").val().trim();
        var EndTime = $("#logmax").val().trim();
        //搜索
        param["TypeId"] = TypeId;
        param["Name"] = Name;
        param["StartTime"] = StartTime;
        param["EndTime"] = EndTime;
        //初始化，然后绑定
        $('.table-sort').DataTable().destroy();
        searchArticle(param);
    });

    function searchArticle(param) {
        $('.table-sort').dataTable({
            "bStateSave": true,
            "pading": false,
            "destroy": true,
            "searching": true,
            "autoWidth": true,
            "ordering": false, //设置所有不排序
            "ajax": function (data, callback, settings) {
                ajaxRequest("post", "/Article/PageList", param, function (result) {
                    //封装返回数据
                    var returnData = {};
                    returnData.data = result;
                    callback(returnData);
                });
            },
            "columnDefs": [//对table格式的定义（表格的列从0开始）
                {
                    targets: 0,
                    render: function (data, type, row) {
                        return '<input type="checkbox" value="' + row.Id + '" >';
                    }
                }, {
                    targets: 6,//把第九列的样式改为超链接
                    render: function (data, type, row) {
                        return '<a style="text-decoration:none" class="ml-10" onclick="Institution_edit(\'机构编辑\', \'Institution-add.html\', \'' + row.Id + '\', \'800\', \'500\')" href="javascript:void(0);" title="机构编辑"><i class="Hui-iconfont">&#xe6df;</i></a>' +
                               '<a style="text-decoration:none" class="ml-10" onClick="article_del(this,\'' + row.Id + '\')" href="javascript:void(0);" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>';
                    }
                }
            ],
            "columns": [//返回的json数据在这里填充，注意一定要与上面的<th>数量对应，否则排版出现扭曲
                        { "data": "Id" },
                        { "data": "Name" },  
                        { "data": "TypeName", "defaultContent": "" },
                        { "data": "Remarks", "defaultContent": "" },
                        {
                            "data": "CreateTime", "render": function (data) {
                                var NewTime = parseInt(data.replace(/\D/igm, ""));
                                return formatDateTime(NewTime);
                            }
                        },
                        { "data": "HitTimes", "defaultContent": "" },
            ]
        });
    };
/*资讯-添加*/
function article_add(title,url,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*资讯-编辑*/
function article_edit(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*资讯-删除*/
function article_del(obj,id){
    layer.confirm('确认要删除吗？', function (index) {
        $.post('/Article/DeleteOne', { "Id": id }, function (data) {
            alert(data);
            if (data == "True") {
                $(obj).parents("tr").remove();
                layer.msg('已删除!', { icon: 1, time: 1000 });
            } else { layer.msg('服务器错误!', { icon: 2, time: 1000 }); }
        });
		
	});
}

/*资讯-审核*/
function article_shenhe(obj,id){
	layer.confirm('审核文章？', {
		btn: ['通过','不通过','取消'], 
		shade: false,
		closeBtn: 0
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布', {icon:6,time:1000});
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
		$(obj).remove();
    	layer.msg('未通过', {icon:5,time:1000});
	});	
}
/*资讯-下架*/
function article_stop(obj,id){
	layer.confirm('确认要下架吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
		$(obj).remove();
		layer.msg('已下架!',{icon: 5,time:1000});
	});
}

/*资讯-发布*/
function article_start(obj,id){
	layer.confirm('确认要发布吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布!',{icon: 6,time:1000});
	});
}
/*资讯-申请上线*/
function article_shenqing(obj,id){
	$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
	$(obj).parents("tr").find(".td-manage").html("");
	layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
}

</script> 