@{
    ViewBag.Title = "我们的活动";
}
<link href="~/css/ouract.css" rel="stylesheet" />

<img src="~/img/pro_2.jpg" style="width:100%;" />

<div class="ouract clearfix">
    <div class="ouractleft fl">
        <h3>客户分享<a href="@Url.Action("Index","CustomCase")" class="green fr">More&gt;</a></h3>
        <div class="ouractpic clearfix">
            <img src="~/img/our_4.jpg" class="pic1" />
            <img src="~/img/our_6.jpg" class="pic2" />
            <img src="~/img/our_7.jpg" class="pic3" />
        </div>
        <div class="cus_tit clearfix">
            <h5 class="g3 fl">扬州客户别墅装修分享</h5>
            <span class="fr g6">2018-09-13</span>
        </div>
        <p class="g9">天然真皮具有独特的柔韧性和透气性日常清洁打理方便，质感特别，柔韧性和耐磨性高。
                真皮沙发透气性优良、舒适且结实耐用</p>
    </div>
    <div class="ouractright fr">
        <h3>新闻活动<a href="@Url.Action("Index","News")" class="green fr">More&gt;</a></h3>
        <img src="~/img/our_8.jpg" class="mt30" />
        @Html.Action("List","News")
    </div>
</div>