@{
    ViewBag.Title = "企业理念";
}
<link href="~/css/about.css" rel="stylesheet" />

<img src="~/img/about.jpg"  alt="企业理念" style="width:100%;height:auto;"/>

<div class="ourtit mt50">
    <p class="tit1">About Us</p>
    <p class="tit2  f30">—— 关于我们 ——</p>
    <p class="tit3 pt10">“香凝”是由“暗香疏影”、“凝瞩不转 ”两个成语各取一个字组成而来，
        建厂初期主要以红木工艺品为主，注重产品制作之工艺，故而取品牌名为“香凝工艺”。
“香凝工艺”产品很多以故宫博物院、上海博物馆等知名馆藏产品复刻为主，许多产品都可以在博物馆里找到原型。香凝工艺成熟的技师队伍，每一刀一刨，确保每一件产品都是家居艺术精品。</p>
</div>

<div class="about">
    <div class="box clearfix" style="position:relative;height:560px;">
        <div class="abouttit">
           <h4>暗香疏影，凝瞩不转</h4>
           <p>[香凝工艺]，古典家具与艺术品品牌，由传统红木家具与艺术品行业资深团队合力创设。其致力于传承中国千年手工治木艺术，通过升华革新，使之重登高尚生活领域并再次焕发蓬勃生命力。</p>
           <p>发展至今，[香凝工艺]涵盖了古典红木家具、香具、茶具及其他纯手工艺术品。品牌以“工艺”为核心价值追求，每件作品都甄选最上等的木料，精雕细琢、精益求精，为世人创造出一件又一件传世臻品。</p>
           <p>[香凝工艺]在专注于传承古典手工艺的同时，也关注文化、精神与情怀，在古典与现代、东方与西方之间达成人性的平衡与和谐。“暗香疏影，凝瞩不转”， [香凝工艺]希望每一件作品都能留给收藏者和品鉴者一个如此的永久印象。</p>
        </div>
    
        <div class="aboutname">
            <h1>香凝工艺</h1>
            <h2 class="mt20">暗香疏影  凝瞩不转</h2>
            <img src="~/img/about_1.jpg" class="mt20" alt="香凝工艺" />
        </div>
        <div class="aboutenname">XIANGNING</div>
    </div>
</div>

