@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_MLayout.cshtml";
}

<link href="@Url.Content("~/Content/member.css")" rel="stylesheet" type="text/css">
    <div class="resetpass f14">
        <ul>
            <p class="mb5 ml5 g6 f15">旧密码</p>
            <li class="otinp mb10 rdu5">
                <input type="password" class="f14" id="oldPassword" placeholder="请输入旧密码">
            </li>
            <p class="mb5 ml5 g6 f15">新密码</p>
            <li class="otinp mb10 rdu5">
                <input type="password" class="f14" id="newPassword1" placeholder="请输入6-18位的新密码">
            </li>
            <p class="mb5 ml5 g6 f15">确认密码</p>
            <li class="otinp rdu5">
                <input type="password" class="f14" id="newPassword2" placeholder="请再次输入确认密码">
            </li>
            <li class="ovh"><input type="button" class="btngreen mt15 f16 rdu5" onclick="changePwd();" value="提 交"></li>
        </ul>
    </div>
<script type="text/javascript">
    function changePwd() {
        var oldPassword = $("#oldPassword").val();
        var newPassword1 = $("#newPassword1").val();
        var newPassword2 = $("#newPassword2").val();

        if (oldPassword == null || oldPassword == '') {
            UsTips("旧密码不能为空.");
            return false;
        }
        if (newPassword1 == null || newPassword1 == '') {
            UsTips("新密码不能为空.");
            return false;
        }
        if (newPassword1 != newPassword2) {
            UsTips("您两次输入的密码不一致.");
            return false;
        }

        $.ajax({
            type: 'POST',
            data: { "oldPassword": oldPassword, "newPassword": newPassword1 },
            url: "/Member/HChangPassword",
            dataType: 'json',
            success: function (data) {
                if (data=="1") {
                    //alert("修改成功")
                    goUrl("/Member/Index")
                } else if (data == "0") {
                    UsTips("服务器错误！");
                } else {
                    UsTips(data);
                }
            },
            complete: function (xhr, status) {

            },
            error: function (xhr, type) {
                alert('Ajax error!')
            }
        });
    }
</script>