@using ServiceProject;
@{
    ViewBag.Title = "我的佣金";
    Layout = "~/Views/Shared/_MLayout.cshtml";
    NewsService NSer = new NewsService();
}
<link href="@Url.Content("~/css/News.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/proDetail.css")" rel="stylesheet" type="text/css">
<script type="text/javascript" src="@Url.Content("~/js/dropload.js")"></script>
<script src="~/js/notice.js" type="text/javascript"></script>
<div class="content">
    <div class="article mt10" id="godsConTxt">
        <div id="indexData">
            @Html.Action("PointList", "Member", new { PageSize = 20, PageIndex = 0 })
        </div>
        <div class="loadingbox" id="loadaimbox" style="display: -webkit-box;">
            <i class="loadingrdu"><img src="/images/loading.gif" /></i>
            <em class="ml5 f15">正在努力加载</em>
        </div>

        <p id="no_record" style="display: none;" class="f14 db tc">
            <span class="pt10 pb5 g9 db">╯▂╰ 暂无信息！</span>
        </p>
        <p class="red b">如你有任何疑问请联系我们，立即咨询---通过微信联系我们；电话我们---可以直接电话我们！</p>
    </div>

</div>

<footer id="footer" class="footer tc bg-white">

    <p class="bfx01"><a href="tel:13311601955"><span class="btnliji wh db f15" style="background: rgb(85, 85, 85);">电话我们</span> </a></p>
    <p class="bfx01 pl5" id="godsaddCart" onclick="WeixinJSBridge.call('closeWindow')"><span class="btnliji wh db f15">立即咨询</span></p>

</footer>
<div id="gotop" class="gotop"></div>
<script type="text/javascript">
        $(function () {//返回顶部插件引用
            $(window).goTops({ toBtnCell: "#gotop", posBottom: 70 });
            loadPointList();
        });
</script>
