@{
    ViewBag.Title = "我们的优势";
}
<link href="~/css/ouradvantages.css" rel="stylesheet" />
<img src="~/img/Our_2.jpg" alt="我们的优势" style="width:100%;height:auto;" />

<div class="ourtit mt50">
    <p class="tit1">OUR ADVANTAGES</p>
    <p class="tit2  f30">—— 我们的<span class="orange f30">”优势“</span> ——</p>
    <p class="tit3 pt10">“香凝”是由“暗香疏影”、“凝瞩不转 ”两个成语各取一个字组成而来，
        建厂初期主要以红木工艺品为主，注重产品制作之工艺，故而取品牌名为“香凝工艺”。
“香凝工艺”产品很多以故宫博物院、上海博物馆等知名馆藏产品复刻为主，许多产品都可以在博物馆里找到原型。香凝工艺成熟的技师队伍，每一刀一刨，确保每一件产品都是家居艺术精品。</p>
</div>


<div class="ouradvantages">
    <div class="our clearfix">
        <div class="fl odtext mt50">
            <div class="odtit">
                <p class="sn">1</p>
                <div class="od">
                    <h3 class="orange f30">精选木材</h3>
                    <p class="f20 g3 pt10">精选来自亚热带优生阔叶林的林木资源</p>
                    <p class="pt30">香凝每一块木材都是经过重重打磨，切断成形，终成为红木家具“骨架”的
                        木材均经过特别干燥技术处理，含水率符合国家标准要求具有手感好、防菌防霉、抗腐、良好的适用性等特点。</p>
                </div>
            </div>
        </div>
        <img src="~/img/mc_1.jpg" class="fr mt50" />
    </div>

    <div class="our clearfix">
        <div class="fr odtext mt50">
            <div class="odtit">
                <p class="sn">2</p>
                <div class="od">
                    <h3 class="orange f30">精悍工艺</h3>
                    <p class="f20 g3 pt10">传承中国传统制作工艺，精雕打磨</p>
                    <p class="pt30">香凝工艺所有制作工艺是以手工制作为主的，制作工序配以香凝信息管理系统，层层把关，责任到人，严格杜绝次品，按工艺流程分为：干燥板材、木工工序、雕刻工序、打磨工序、上蜡工序和组装工序，每一个工序做到层层验收和审核，做到及时发现及时返工。</p>
                </div>
            </div>
        </div>
        <img src="~/img/mc_2.jpg" class="fl mt50" />
    </div>

    <div class="our clearfix">
        <div class="fl odtext mt50">
            <div class="odtit">
                <p class="sn">3</p>
                <div class="od">
                    <h3 class="orange f30">匠心之作</h3>
                    <p class="f20 g3 pt10">经匠人之手，呈现在世人眼前的便不只有自然之美，还有结构之美</p>
                    <p class="pt30">香凝每一件木作，就仿佛是自然造化借助匠人双手，所成就的最和谐、美妙的存在之物。
香凝木作，体现着匠心精神的最高境界，也是匠心创造的最杰出成果。</p>
                </div>
            </div>
        </div>
        <img src="~/img/mc_3.jpg" class="fr mt50" />
    </div>
</div>